/* .contain {
  display: inline;
} */

.anchor-icon1 {
  font-size: 25px;
}

.anchor-icon2 {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
}
.anchor-icon3 {
  font-size: 25px;
}

.anchor-icon1:hover {
    color: #0077B5;
}

.anchor-icon2:hover {
  color: black;
}

.anchor-icon3:hover {
  color: black
}